<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AlbertsonCodingAssignment.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7E2D6B7B2981A72F00078BB6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7E2D6B8B2981A73100078BB6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7E2D6B952981A73100078BB6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
